@font-face {
  /* font-properties */
  font-family:PingFang-SC-Medium;;
  src:url('../../static/font/PingFang-Medium.ttf'),
  url('../../static/font/PingFang-Medium.ttf'),
  url('../../static/font/PingFang-Medium.ttf'); /* IE9 */
}

@font-face {
  /* font-properties */
  font-family:PingFang-SC-Regular;;
  src:url('../../static/font/PingFang-Regular.ttf'),
  url('../../static/font/PingFang-Regular.ttf'),
  url('../../static/font/PingFang-Regular.ttf'); /* IE9 */
}
