@import "./transition";
@import "./font";
@import "./element";
@import "./variables";
@import "./sidebar";
@import "./other";

body {
  margin: 0px;
  background: #f0f1f3;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

a:hover{color:yellow}
a {text-decoration: none;color: white;}


.top20 {
  margin-top: 20px;
}

.el-card__body {
  padding: 8px;
}

.Title_text {
  color: black;
}

.left20 {
  margin-left: 20px;
}

.pad20 {
  padding: 0px 12px;
}

.top10 {
  margin-top: 10px;
}

.hand{
  cursor:pointer;
}

.primaryBg {
  background: $primaryColor
}
