body {
  margin: 0px;
  background: #f0f1f3;
}

.top20 {
  margin-top: 20px;
}

.el-card__body {
  padding: 8px;
}

.Title_text {
  color: black;
}

.left20{
  margin-left:20px ;
}

.pad20 {
  padding: 0px 12px;
}

.top10 {
  margin-top: 10px;
}
