.mr5 {
  margin-right: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt10 {
  margin-top: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mt60 {
  margin-top: 60px;
}

.mb30 {
 margin-bottom: 30px;
}

.mt40 {
  margin-top: 40px;
}

.ml20 {
  margin-left: 20px;
}

.mt15 {
  margin-top: 15px;
}

.mt30 {
  margin-top: 30px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb88 {
  margin-bottom: 88px;
}

.mt103 {
  margin-top: 103px;
}

.ft14 {
  font-size: 14px
}

.ft12 {
  font-size: 12px
}

.ft15 {
  font-size: 15px
}

.creator-text {
  cursor: pointer;
  &:hover {
    color: #dfc700;
  }
}
